Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: find-todos, mypy, flakehell, rstcheck

Path conditions:
  find-todos: any file but: TODO
  mypy: any of: \.py$
  flakehell: any of: \.py$
  rstcheck: any of: \.rst$

Update publish.yml
  .github/workflows/publish.yml
Due: find-todos

changelog template
  CHANGELOG.new.md
Due: find-todos

finish prep_release.py
  prep_release.py
Due: find-todos, mypy, flakehell

fix pub wf
  .github/workflows/publish.yml
Due: find-todos

'release v0.5.19'
  CHANGELOG.md
  pyproject.toml
Due: find-todos

chagnelog
  CHANGELOG.md
Due: find-todos

fix!
  prep_release.py
Due: find-todos, mypy, flakehell

cl
  CHANGELOG.md
Due: find-todos

cl
  CHANGELOG.md
  prep_release.py
Due: find-todos, mypy, flakehell

cl
  CHANGELOG.md
  docs/source/conf.py
  prep_release.py
Due: find-todos, mypy, flakehell

cl
  prep_release.py
Due: find-todos, mypy, flakehell

release
  .github/workflows/publish.yml
Due: find-todos

pub
  .github/workflows/publish.yml
Due: find-todos

cl temp
  CHANGELOG.new.md
Due: find-todos

[skip ci]
  test
Due: find-todos

a
  .github/workflows/publish.yml
  TODO
Due: find-todos

cl
  CHANGELOG.md
  CHANGELOG.new.md
Due: find-todos

todo
  TODO
Due: none

authors
  .github/workflows/update-authors.yml
  AUTHORS
  docs/source/authors.rst
  docs/source/index.rst
  prep_release.py
Due: find-todos, mypy, flakehell, rstcheck

fix wf
  .github/workflows/update-authors.yml
Due: find-todos

Update AUTHORS file with new author(s)
  AUTHORS
Due: find-todos

fix
  .github/CODEOWNERS
  .github/workflows/update-authors.yml
Due: find-todos

add skipci
  .github/workflows/update-authors.yml
Due: find-todos

format
  .github/workflows/update-authors.yml
Due: find-todos

Update AUTHORS file with new author(s) [skip ci]
  AUTHORS
Due: find-todos

fix
  .github/workflows/update-authors.yml
  test
Due: find-todos

fix
  AUTHORS
Due: find-todos

fix
  .github/workflows/update-authors.yml
Due: find-todos

fix codeql
  .github/workflows/codeql-analysis-skip.yml
  .github/workflows/codeql-analysis.yml
Due: find-todos
