Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, sort-spelling-dicts, find-todos, mypy, pylint, cargo-clippy, cargo-check

cargo-fmt:
  name: rustfmt
  description: Format rust source with rustfmt.
  entry: cargo fmt
  args:
  - --
  language: system

sort-spelling-dicts:
  name: Sort spelling_dict.txt files
  description: Sort spelling_dict.txt files
  language: python
  entry: python
  args:
  - -c
  - 'import pathlib;
  
    import sys;
  
    p = pathlib.Path(sys.argv[1]);
  
    p.write_text("\n".join(sorted(set(p.read_text("utf-8").splitlines()))) + "\n", "utf-8")
  
    '

find-todos:
  name: 'Find TODO:|FIXME:|BUG: comments'
  description: 'Check for TODO:|FIXME:|BUG: comments in all files'
  language: pygrep
  entry: (^|//!?|#|<!--|;|/\*(\*|!)?|\.\.)\s*(TODO:|FIXME:|BUG:)(?!#i#)

mypy:
  name: mypy
  description: run mypy over the installed package via tox
  entry: tox
  args:
  - -e
  - mypy
  language: python
  additional_dependencies:
  - tox
  pass_filenames: false
  require_serial: true

pylint:
  name: pylint
  description: run pylint over the installed package via tox
  entry: tox
  args:
  - -e
  - pylint
  language: python
  additional_dependencies:
  - tox
  require_serial: true

cargo-clippy:
  name: clippy
  description: Lint rust source with clippy.
  entry: cargo clippy
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust package for errors.
  entry: cargo check
  language: system
  pass_filenames: false

add ruff cache to gitignore
  .gitignore
Due: find-todos

add todo for removel of hooks because of ruff
  .pre-commit-config.yaml
Due: find-todos

change test naming convention to _test.py
  .pre-commit-config.yaml
  tests/python_test.py
Due: find-todos, mypy, pylint

add init ruff config
  pyproject.toml
Due: find-todos

update ruff config for v0.0.255
  pyproject.toml
Due: find-todos

Update pyproject.toml
  pyproject.toml
Due: find-todos

Create .ruff.toml
  .ruff.toml
Due: find-todos

Update .ruff.toml
  .ruff.toml
Due: find-todos

Create .sqlfluff
  .sqlfluff
Due: find-todos

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: find-todos

remove lock file
  poetry.lock
Due: find-todos

git ignore lock file
  .gitignore
Due: find-todos

update dev tooling
  .pre-commit-config.yaml
  .pylintrc.spelling.toml
  pyproject.toml
  tox.ini
Due: find-todos

fix TODO setup
  .pre-commit-config.yaml
Due: find-todos

removed outdated ruff lint group
  pyproject.toml
Due: find-todos

set default python version for whole pre-commit
  .pre-commit-config.yaml
Due: find-todos

update python versions
  pyproject.toml
  tox.ini
Due: find-todos

autoformatting
  CHANGELOG.md
  STEP_GUIDE-add-stuff.rst
Due: find-todos

update spelling dict
  docs/source/spelling_dict.txt
Due: sort-spelling-dicts, find-todos

update release script
  prep_release.py
Due: find-todos, mypy, pylint

add missing v prefix to changlog versions
  prep_release.py
Due: find-todos, mypy, pylint

move spelling dict; add words
  .pylintrc.spelling.toml
  docs/source/conf.py
  spelling_dict.txt
Due: sort-spelling-dicts, find-todos, mypy, pylint

replace m2r2 with myst to fix install issue; m2r2 seems unmaintained
  docs/source/changelog.md
  docs/source/changelog.rst
  docs/source/conf.py
  pyproject.toml
Due: find-todos, mypy, pylint

update spelling dict
  spelling_dict.txt
Due: sort-spelling-dicts, find-todos

Path conditions:
  cargo-fmt: any of: \.rs$
  sort-spelling-dicts: any of: spelling_dict.txt
  find-todos: any file but: TODO
  mypy: any of: \.py$
  pylint: any of: \.py$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
