Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: find-todos, mypy, flakehell, rstcheck

find-todos:
  name: 'Find TODO:|FIXME:|BUG: comments'
  description: 'Check for TODO:|FIXME:|BUG: comments in all files'
  language: pygrep
  entry: (^|//|#|<!--|;|/\*|\.\.)\s*(TODO:|FIXME:|BUG:)(?!#i#)

mypy:
  name: mypy
  description: run mypy over the installed version if available
  entry: env_exe_runner tox,.venv pre_commit mypy
  args:
  - --config-file=tox.ini
  language: system
  require_serial: true

flakehell:
  name: flakehell
  description: run flakehell over the installed version if available
  entry: env_exe_runner tox,.venv pre_commit flakehell
  args:
  - lint
  - --safe
  language: system

rstcheck:
  name: rstcheck
  description: check rst files
  entry: env_exe_runner tox,.venv pre_commit rstcheck
  args:
  - --config=tox.ini
  language: system

add main as trigger branch§
  .github/workflows/code-quality.yml
  .github/workflows/codeql-analysis-skip.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-safety.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
  .github/workflows/update-authors.yml
Due: find-todos

change master to main
  .github/workflows/code-quality.yml
  .github/workflows/codeql-analysis-skip.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-safety.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
  .github/workflows/update-authors.yml
  CHANGELOG.md
  CHANGELOG.new.md
  docs/source/_badges.rst
  prep_release.py
Due: find-todos, mypy, flakehell, rstcheck

fix spelling
  CHANGELOG.new.md
  docs/source/contribution/development.rst
  docs/source/contribution/git_workflow.rst
  docs/source/spelling_dict.txt
Due: find-todos, rstcheck

update formelsammlung dependency
  poetry.lock
  pyproject.toml
Due: find-todos

fix tmp dir problem in noxfile
  noxfile.py
  poetry.lock
  pyproject.toml
Due: find-todos, mypy, flakehell

fix empty test
  src/python_test_cielquan/__init__.py
  tests/test_python_test.py
Due: find-todos, mypy, flakehell

wf master->main
  .github/workflows/publish.yml
  .github/workflows/test-code.yml
Due: find-todos

Update AUTHORS
  AUTHORS
Due: find-todos

Update noxfile.py
  noxfile.py
Due: find-todos, mypy, flakehell

Update STEP_GUIDE.rst
  STEP_GUIDE.rst
Due: find-todos, rstcheck

Update pull_request_template.md
  .github/pull_request_template.md
Due: find-todos

Update update-authors.yml
  .github/workflows/update-authors.yml
Due: find-todos

Update development.rst
  docs/source/contribution/development.rst
Due: find-todos, rstcheck

Update issues.rst
  docs/source/contribution/issues.rst
Due: find-todos, rstcheck

Update pyproject.toml
  pyproject.toml
Due: find-todos

renamed nox extra to dev_nox
  noxfile.py
  pyproject.toml
  tox.ini
Due: find-todos, mypy, flakehell

fix
  docs/source/installation.rst
Due: find-todos, rstcheck

update license docstr
  README.rst
  _old_files/gitlint.bak.py
  docs/source/conf.py
  noxfile.py
  prep_release.py
  src/python_test_cielquan/__init__.py
  src/python_test_cielquan/python_tester.py
  tests/conftest.py
  tests/test_python_test.py
Due: find-todos, mypy, flakehell, rstcheck

fix type hint
  noxfile.py
Due: find-todos, mypy, flakehell

rm commitlint commit msg hook
  .pre-commit-config.yaml
  _old_files/.pre-commit-config.bak.yaml
Due: find-todos

comment
  docs/source/_badges.rst
Due: find-todos, rstcheck

fix proj name
  docs/source/installation.rst
Due: find-todos, rstcheck

lock
  poetry.lock
Due: find-todos

nav depth
  docs/source/conf.py
Due: find-todos, mypy, flakehell

fix new deco args
  noxfile.py
Due: find-todos, mypy, flakehell

fix importlib_metadata
  poetry.lock
  src/python_test_cielquan/__init__.py
Due: find-todos, mypy, flakehell

release v1.0.3 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: find-todos

udpate flakehell conf
  pyproject.toml
Due: find-todos

update spelling dict
  docs/source/spelling_dict.txt
Due: find-todos

fix docs conf
  docs/source/conf.py
Due: find-todos, mypy, flakehell

fix workflows
  .github/workflows/code-quality.yml
  .github/workflows/dependency-safety.yml
  .github/workflows/publish.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
Due: find-todos

update
  _old_files/.pre-commit-config.bak.yaml
  docs/source/spelling_dict.txt
  noxfile.py
  poetry.lock
  pyproject.toml
Due: find-todos, mypy, flakehell

fix importlib
  src/python_test_cielquan/__init__.py
Due: find-todos, mypy, flakehell

poetry ci color
  .github/workflows/code-quality.yml
  .github/workflows/dependency-safety.yml
  .github/workflows/publish.yml
  .github/workflows/test-code-skip.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
Due: find-todos

ansi
  .github/workflows/publish.yml
Due: find-todos

dev_nox
  poetry.lock
  pyproject.toml
Due: find-todos

todo
  TODO
Due: none

dev_nox
  .github/workflows/code-quality.yml
  .github/workflows/dependency-safety.yml
  .github/workflows/publish.yml
  .github/workflows/test-docs.yml
Due: find-todos

Path conditions:
  find-todos: any file but: TODO
  mypy: any of: \.py$
  flakehell: any of: \.py$
  rstcheck: any of: \.rst$
