Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: find-todos, mypy, flakehell, rstcheck

Path conditions:
  find-todos: any file but: TODO
  mypy: any of: \.py$
  flakehell: any of: \.py$
  rstcheck: any of: \.rst$

Update test-code.yml
  .github/workflows/test-code.yml
Due: find-todos

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: find-todos

[skip ci]
  pyproject.toml
Due: find-todos

[skip ci]
  poetry.lock
Due: find-todos

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: find-todos

beatifications [skip ci]
  pyproject.toml
Due: find-todos

beauti [skip ci]
  .github/workflows/test-code.yml
Due: find-todos

[skip ci]
  .github/workflows/publish.yml
Due: find-todos

Update publish.yml
  .github/workflows/publish.yml
Due: find-todos

chore(release): 0.5.17 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: find-todos

Update TODO
  TODO
Due: none

Update conf.py
  docs/source/conf.py
Due: find-todos, mypy, flakehell

Update __init__.py
  src/python_test_cielquan/__init__.py
Due: find-todos, mypy, flakehell

Update conftest.py
  tests/conftest.py
Due: find-todos, mypy, flakehell

license
  .github/workflows/test-docs-skip.yml
  .github/workflows/test-docs.yml
  LICENSE
  STEP_GUIDE.rst
  _old_files/azure-pipelines.yml
  docs/source/_badges.rst
  docs/source/conf.py
  docs/source/license.rst
  src/python_test_cielquan/__init__.py
  tests/conftest.py
Due: find-todos, mypy, flakehell, rstcheck

copyright
  docs/source/conf.py
  src/python_test_cielquan/__init__.py
Due: find-todos, mypy, flakehell

patch
  .github/workflows/codeql-analysis.yml
  pyproject.toml
  src/python_test_cielquan/python_tester.py
Due: find-todos, mypy, flakehell

apidoc
  docs/source/api.rst
  docs/source/apidoc_templates/module.rst_t
  docs/source/apidoc_templates/package.rst_t
  docs/source/apidoc_templates/toc.rst_t
  docs/source/conf.py
Due: find-todos, mypy, flakehell, rstcheck

[skip ci]
  docs/source/conf.py
Due: find-todos, mypy, flakehell

todo [skip ci]
  TODO
Due: none

docs [skip ci]
  docs/source/conf.py
Due: find-todos, mypy, flakehell

Update .gitignore
  .gitignore
Due: find-todos

Update api.rst
  docs/source/api.rst
Due: find-todos, rstcheck
