Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: find-todos, mypy, flakehell, rstcheck

Path conditions:
  find-todos: any file but: TODO
  mypy: any of: \.py$
  flakehell: any of: \.py$
  rstcheck: any of: \.rst$

empty commit to [skip ci]
  .github/workflows/codeql-analysis-skip.yml
Due: find-todos

rm skip on push [skip ci]
  .github/workflows/codeql-analysis-skip.yml
Due: find-todos

test
  test.py
Due: find-todos, mypy, flakehell

test2_
  docs/source/test.py
  test.py
Due: find-todos, mypy, flakehell

fix
  .github/workflows/update-authors.yml
Due: find-todos

empty commit to [skip ci]
  docs/source/test.py
Due: find-todos, mypy, flakehell

testauth
  AUTHORS
Due: find-todos

Update AUTHORS file with new author(s) [skip ci]
  AUTHORS
Due: find-todos

empty commit to [skip ci]
  test
Due: find-todos

test
  test3
Due: find-todos

fix
  test
  test3
Due: find-todos

copyright
  docs/source/conf.py
  prep_release.py
  src/python_test_cielquan/__init__.py
  src/python_test_cielquan/python_tester.py
  tests/conftest.py
  tests/test_python_test.py
Due: find-todos, mypy, flakehell

fix prep_release
  prep_release.py
Due: find-todos, mypy, flakehell

move conv com files fix dependabot
  .github/dependabot.yml
  _old_files/.commitlintrc.js
  _old_files/.pyproject_version.js
  _old_files/.versionrc.js
Due: find-todos

.
  TODO
  prep_release.py
Due: find-todos, mypy, flakehell

author
  docs/source/conf.py
  noxfile.py
  prep_release.py
  pyproject.toml
  src/python_test_cielquan/__init__.py
  src/python_test_cielquan/python_tester.py
  tests/conftest.py
  tests/test_python_test.py
Due: find-todos, mypy, flakehell

format
  prep_release.py
Due: find-todos, mypy, flakehell

'release v0.5.20' [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: find-todos

pub force version setting
  .github/workflows/publish.yml
Due: find-todos

renaming
  .github/workflows/publish.yml
Due: find-todos

'release v0.5.21' [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: find-todos

docs
  docs/source/api.rst
  docs/source/index.rst
Due: find-todos, rstcheck

fix rstcheck deps
  poetry.lock
  pyproject.toml
Due: find-todos

docs
  docs/source/conf.py
  docs/source/contribution/index.rst
  docs/source/contribution/issues.rst
  docs/source/contribution/pull_requests.rst
Due: find-todos, mypy, flakehell, rstcheck

docs
  docs/source/conf.py
  docs/source/contribution/issues.rst
  docs/source/contribution/pull_requests.rst
  src/python_test_cielquan/__init__.py
  tox.ini
Due: find-todos, mypy, flakehell, rstcheck

fix link problem in init
  src/python_test_cielquan/__init__.py
Due: find-todos, mypy, flakehell

impro
  src/python_test_cielquan/__init__.py
Due: find-todos, mypy, flakehell

Update __init__.py
  src/python_test_cielquan/__init__.py
Due: find-todos, mypy, flakehell

todo
  TODO
Due: none

fix pub
  .github/workflows/publish.yml
  TODO
Due: find-todos

'release v0.5.22' [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: find-todos

fix pub
  .github/workflows/publish.yml
Due: find-todos

'release v0.6.22' [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: find-todos

rstcheck conf
  tox.ini
Due: find-todos

fix releas script
  prep_release.py
Due: find-todos, mypy, flakehell

'release v1.0.0' [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: find-todos

fixed contri issues
  docs/source/contribution/issues.rst
Due: find-todos, rstcheck
