Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: find-todos, mypy, flakehell, rstcheck

Path conditions:
  find-todos: any file but: TODO
  mypy: any of: \.py$
  flakehell: any of: \.py$
  rstcheck: any of: \.rst$

Rename docs/source/apidoc_templates/module.rst_t to docs/source/_apidoc_templates/module.rst_t
  docs/source/_apidoc_templates/module.rst_t
Due: find-todos

Rename docs/source/apidoc_templates/package.rst_t to docs/source/_apidoc_templates/package.rst_t
  docs/source/_apidoc_templates/package.rst_t
Due: find-todos

Rename docs/source/apidoc_templates/toc.rst_t to docs/source/_apidoc_templates/toc.rst_t
  docs/source/_apidoc_templates/toc.rst_t
Due: find-todos

Update conf.py
  docs/source/conf.py
Due: find-todos, mypy, flakehell

Rename autoapi to autoapidoc (#89)
  .gitignore
  docs/source/_apidoc_templates/module.rst_t
  docs/source/_apidoc_templates/package.rst_t
  docs/source/_apidoc_templates/toc.rst_t
  docs/source/api.rst
  docs/source/conf.py
Due: find-todos, mypy, flakehell, rstcheck

Update module.rst_t
  docs/source/_apidoc_templates/module.rst_t
Due: find-todos

Update toc.rst_t
  docs/source/_apidoc_templates/toc.rst_t
Due: find-todos

tab to space [skip ci]
  .commitlintrc.js
Due: find-todos

[skip ci]
  noxfile.py
Due: find-todos, mypy, flakehell

[skip ci]
  docs/source/contribution/development.rst
Due: find-todos, rstcheck

note [skip ci]
  docs/source/conf.py
Due: find-todos, mypy, flakehell

fix
  pyproject.toml
Due: find-todos

doc conf
  docs/source/conf.py
Due: find-todos, mypy, flakehell

comments
  pyproject.toml
Due: find-todos

update deps
  noxfile.py
  poetry.lock
  pyproject.toml
Due: find-todos, mypy, flakehell

pytest-xdist update
  poetry.lock
  pyproject.toml
Due: find-todos

update xdist
  poetry.lock
  pyproject.toml
Due: find-todos

fix docs test ci
  .github/workflows/test-docs-skip.yml
  .github/workflows/test-docs.yml
Due: find-todos

fix todo
  pyproject.toml
Due: find-todos

chore(release): 0.5.18 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: find-todos

Update pyproject.toml
  pyproject.toml
Due: find-todos

Update code-quality.yml
  .github/workflows/code-quality.yml
Due: find-todos

Update dependency-safety.yml
  .github/workflows/dependency-safety.yml
Due: find-todos

Update test-code.yml
  .github/workflows/test-code.yml
Due: find-todos

Update test-docs.yml
  .github/workflows/test-docs.yml
Due: find-todos

Workflows (#90)
  .github/workflows/code-quality.yml
  .github/workflows/dependency-safety.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
Due: find-todos

Update publish.yml
  .github/workflows/publish.yml
Due: find-todos

note comment
  .github/workflows/dependency-safety-skip.yml
  .github/workflows/dependency-safety.yml
  .github/workflows/test-code-skip.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs-skip.yml
  .github/workflows/test-docs.yml
Due: find-todos

poetry setups
  .github/workflows/code-quality.yml
  .github/workflows/dependency-safety.yml
  .github/workflows/publish.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
Due: find-todos

rename break change note checker
  .github/workflows/publish.yml
Due: find-todos

udpate
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: find-todos

changelog [skip ci]
  CHANGELOG.md
Due: find-todos

wip
  .github/workflows/publish.yml
  prep_release.py
Due: find-todos, mypy, flakehell

Update prep_release.py
  prep_release.py
Due: find-todos, mypy, flakehell
