Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: find-todos, mypy, flakehell, rstcheck

Path conditions:
  find-todos: any file but: TODO
  mypy: any of: \.py$
  flakehell: any of: \.py$
  rstcheck: any of: \.rst$

update contri pr
  docs/source/contribution/pull_requests.rst
Due: find-todos, rstcheck

udpate contri dev
  docs/source/contribution/development.rst
Due: find-todos, rstcheck

todo
  TODO
Due: none

WIP conrti git
  docs/source/contribution/git_workflow.rst
Due: find-todos, rstcheck

Update git_workflow.rst
  docs/source/contribution/git_workflow.rst
Due: find-todos, rstcheck

Update prep_release.py
  prep_release.py
Due: find-todos, mypy, flakehell

Update publish.yml
  .github/workflows/publish.yml
Due: find-todos

Update TODO
  TODO
Due: none

'release v1.0.1' [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: find-todos

release v1.0.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: find-todos

comment
  tox.ini
Due: find-todos

.
  CONTRIBUTING.rst
  STEP_GUIDE.rst
Due: find-todos, rstcheck

guide
  STEP_GUIDE-add-stuff.rst
Due: find-todos, rstcheck

fix
  docs/source/installation.rst
Due: find-todos, rstcheck

comment
  docs/source/_badges.rst
Due: find-todos, rstcheck

docs
  docs/source/_badges.rst
Due: find-todos, rstcheck

doc conf
  docs/source/conf.py
Due: find-todos, mypy, flakehell

step
  STEP_GUIDE.rst
  docs/source/contribution/issues.rst
  docs/source/contribution/pull_requests.rst
Due: find-todos, rstcheck

update cc conf
  .codeclimate.yml
Due: find-todos

todo
  docs/source/_badges.rst
Due: find-todos, rstcheck

fix noxfile
  noxfile.py
Due: find-todos, mypy, flakehell

fix pub lint
  .github/workflows/publish.yml
Due: find-todos
